* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, black, #333); /* Gradient background from black */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.discord-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.out-of-rooms {
  text-align: center;
  margin-top: 20%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.out-of-rooms h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  color: #ccc;
}

.about-us {
  position: absolute;
  left: 5%; /* Slightly offset from the left */
  top: 80%; /* Adjust the position lower for scrolling */
  text-align: left;
}

.about-us h2 {
  font-size: 2rem;
  color: white;
}

.about-description {
  font-size: 1rem;
  color: #bbb;
  margin-left: 20px;
  margin-top: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .discord-icon {
    width: 30px;
  }

  .out-of-rooms h1 {
    font-size: 2.5rem;
  }

  .about-us {
    top: 100%; /* Ensure about-us is placed further down */
    left: 5%;
  }
}

@media (max-width: 480px) {
  .out-of-rooms h1 {
    font-size: 2rem;
  }

  .about-us h2 {
    font-size: 1.8rem;
  }

  .about-description {
    font-size: 0.9rem;
  }
}
